html {
    font-family: sans-serif;
}
body {
    width: 50%;
    margin: 0 auto;
}
#actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#actionButtons .button {
    width: 100px;
    height: 100px;
    font-family: serif;
    font-size: 18px;
    font-weight: bold;
    background-color: beige;
}
#actionButtons .button:hover {
    background-color: rgb(137, 137, 130);
}
#actionButtons .button:active {
    background-color: rgb(161, 161, 153);
}
.scoreContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.scoreContainer div {
    display: flex;
    border: 1px solid black;
    margin: 10px;
    height: 45px;
    min-width: 45px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.scoreContainer p.score {
    font-size: xx-large;
    font-family: monospace;
    margin: 0;
}
.scoreContainer .scoreTitle .winC {
    font-size: xx-large;
    margin: auto;
}
.subTitle {
    text-align: center;
}

#gameHistory {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    margin-right:auto;
    margin-left: 0px;
    justify-content: left;
}
#gameHistory .winToken {
    border: 1px solid black;
    padding: 3px;
}
#gameHistory .winToken.player {
    background-color: greenyellow;
}
#gameHistory .winToken.computer {
    background-color: red;
}