html {
    font-family: sans-serif;
}
body {
    width: 50%;
    margin: 0 auto;
}
#actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#actionButtons .button {
    width: 100px;
    height: 100px;
    font-family: serif;
    font-size: 18px;
    font-weight: bold;
    background-color: beige;
}
#actionButtons .button:hover {
    background-color: rgb(137, 137, 130);
}
#actionButtons .button:active {
    background-color: rgb(161, 161, 153);
}